body,div,p,ul,li{margin: 0; padding: 0;}
ul,li{ list-style: none; }
a{text-decoration: none;}

body {
    font-size:12px;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
    font-family:helvetica;
}

header {
    position:absolute; z-index:2;
    top:0; left:0;
    width:100%;
    height:45px;
    line-height:45px;
    background: #00bdd9;
    padding:0;
    color:#eee;
    font-size:20px;
    text-align:center;
}

footer {
    position:absolute; z-index:2;
    bottom:0; left:0;
    width:100%;
    height:48px;
    background: #000;
    padding:0;
    color: #fff;
}

footer ul li{ float: left; width: 25%; line-height:48px; text-align: center;}
footer ul li:hover{ background: #00bdd9;}

#wrapper {
    position:absolute; z-index:1;
    top:45px; bottom:48px; left:0;
    width:100%;
    background:#f1f1f1;
    overflow:auto;
}

#scroller {
    position:absolute; z-index:1;
/*    -webkit-touch-callout:none;*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}

#scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

#scroller li {
    padding:0 10px;
    height:40px;
    line-height:40px;
    border-bottom:1px solid #efefef;
    border-top:1px solid #fff;
    background-color:#fafafa;
    font-size:14px;
}