body {
    font-family: 'Open Sans'!important;
}
/* rewrite header style */
/*.ui-bar-a {
    background: #2984C2;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2984C2),color-stop(100%,#0A639D));
    background: -webkit-linear-gradient(top,#2984C2 0%,#0A639D 100%);
    background: linear-gradient(to bottom,#2984C2 0%,#0A639D 100%);
}*/
/* end rewrite header style */
.place-filter {
    text-align: center;
    margin-bottom: 35px;
}
.place-filter div {
    padding-top: 10px;
    padding-bottom: 10px;
}


.image-slider {
    padding-bottom: 10px;
    background: #191919;
    color: #ddd;
}
/* Swipe 2 required styles */
.image-slider .swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.image-slider .swipe-wrap {
  overflow: hidden;
  position: relative;
}
.image-slider .swipe-wrap > .item {
  float:left;
  width:100%;
  position: relative;
}
.image-slider .swipe-wrap .wrap {
    max-width: 640px;
    height: 280px;
    display: block;
    margin: 20px auto 15px;
    position: relative;
}
.image-slider .swipe-wrap > .item div.image {
    display: block;
    box-shadow: 0 1px 5px rgba(0,0,0,.85),inset 0 0 1px rgba(255,255,255,.35);
    margin: 0 10px;
    border-radius: 5px;
    height: inherit;
}
.image-slider #position {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.image-slider #position li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #141414;
    box-shadow: inset 0 1px 3px black,0 0 1px 1px #202020;
    margin: 0 2px;
    cursor: pointer;
}
.image-slider #position li.on {
    box-shadow: inset 0 1px 3px -1px #28b4ea,0 1px 2px rgba(0,0,0,.5);
    background-color: #1293dc;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#1293dc),color-stop(100%,#0f6297));
    background-image: -webkit-linear-gradient(top,#1293dc,#0f6297);
    background-image: -moz-linear-gradient(top,#1293dc,#0f6297);
    background-image: -ms-linear-gradient(top,#1293dc,#0f6297);
    background-image: -o-linear-gradient(top,#1293dc,#0f6297);
    background-image: linear-gradient(top,#1293dc,#0f6297);
}
/* END required styles */
.map {
    height: 200px;
