<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.wanmeilvxing.v1"
        versionCode="10" 
        version   = "0.1">

    <!-- versionCode is optional and Android only -->

    <name>完美旅行</name>
    <gap:splash src="img/splash.png" />
    <description>
        为你提供一场完美旅行。
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Hardeep Shoker 
    </author>

</widget>