extends layout

block content
    div(data-role="page",data-quicklinks="true")
        div(data-role="header",data-theme="a")
            a(href="/index",data-icon="back",data-iconpos="notext",data-rel="back") 返回
            h1 香格里拉
            a(href="add_plan.html",data-role="button",data-icon="search",data-iconpos="notext",data-transition="slidefade") 搜索
        div(data-role="content")
            .image-slider image
            ul(data-role="listview",data-theme="d")
                li
                    a(href="map.html")
                     h2 地址
                     p 嘉定区南翔镇古猗园路210号(近沪宜公路)
                li
                    a(href="tel:010-88668866")
                        h2 电话
                        p 010-88668866
                li
                    h2 简介
                    p 东方明珠广播电视塔日景(17张)东方明珠塔[1]位于上海黄浦江畔、浦东陆家嘴嘴尖上，1991年7月30日动工，1994年10月1日建成，东方明珠塔高468米，1994年2月，国家主席江泽民题写了“东方明珠广播电视塔”的塔名。上海东方明珠广播电视塔是上海旅游新地标。