extends layout

block content
    div(data-role="page",data-quicklinks="true")
        div(data-role="header",data-theme="a")
            a(href="#mainPanel",data-role="button",data-icon="bars",data-iconpos="notext",data-theme="a",data-inline="true") 菜单
            h1=title
            a(href="add_plan.html",data-role="button",data-icon="search",data-iconpos="notext",data-transition="slidefade") 搜索
        div(data-role="content")
            ul(data-role="listview",data-icon="false")
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
                li
                    a(href="/detail")
                        img(src="/images/shanghai.jpg")
                        h2 香格里拉
                        p 2014/04/16
                        span.ui-li-count 12
        #mainPanel(data-role="panel",data-theme="a",data-position="left",display="push")
            ul
                li foo
                li bar